<div id="workshop-wrapper">
   <ul>
      {{#each items}}
      <li>
        {{ name }}
        {{ description }}
        {{ date }}
        {{ start_time }}
        {{ end_time }}
        {{ private }}
      </li>
      {{/each}}
    </ul>
</div>
