<div id="workshop-wrapper">
   <ul>
      {{#each items}}
      <li>
        {{ id }} 
        <h1>{{ name }}</h1><br />
        <p>{{ description }}</p><br />
        {{ date }}
        {{ start_time }}
        {{ end_time }}
        {{ private }}
      </li>
      {{/each}}
    </ul>
</div>
